<app-pagewrapper>
  <div class="homeContainer">
    <div class="carousel">
      <div 
        class="slide" 
        *ngFor="let slide of carouselSlides; let i = index;" 
      >
        <div 
          class="slideImg" 
          [ngStyle]="{ 'background-image': 'url(' + slide.image + ')'}"
          [style.opacity]="activeSlide === i ? 1 : 0"
        ></div>
        <div class="slideCallout">
          <div class="calloutWrapper">Create <span [ngClass]="activeSlide === i ? 'active' : ''" class="boldFont">{{slide.tagline}}</span><br>Art</div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div 
        class="gridTile" 
        [ngStyle]="{ 'background-image': 'url(' + tile.image + ')'}" 
        *ngFor="let tile of gridTiles; let i = index;"
      >
        <div class="overlay">
          <div class="name boldFont">{{tile.name}}</div>
          <div>{{tile.description}}</div>
          <button mat-raised-button color="primary">Create {{tile.name}} Decor</button>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="feature" *ngFor="let feature of features;">
        <mat-icon>{{feature.icon}}</mat-icon>
        <div>{{feature.label}}</div>
      </div>
    </div>
  </div>

</app-pagewrapper>