<app-pagewrapper>
  <div class="boldFont">Hello dipshits</div>
  <!-- <h1>Style Transfer Image Example using p5.js</h1>
  <p id="statusMsg">Loading Models...</p>
  <button id="transferBtn" (click)="transferImages()">Transfer!</button>
  <p>Input Image:</p>
  <img [src]="inputImg" alt="input img" id="inputImg">

  <div id="styleA">
    <p>Style A: <a href="https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa">The Great Wave off Kanagawa, 1829 - Katsushika Hokusai</a></p>
    <img src="https://raw.githubusercontent.com/ml5js/ml5-website/source/docs/assets/img/udnie.jpg" alt="style one">
    <img src="styledA" />
  </div>

  <div id="styleB">
    <p>Style B: <a href="https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa">Udnie (Young American Girl, The Dance), 1913 - Francis Picabia</a></p>
    <img src="https://raw.githubusercontent.com/ml5js/ml5-website/source/docs/assets/img/wave.jpg" alt="style two">
    <img src="styledB" />
  </div> -->

</app-pagewrapper>