.accountContainer {
  padding: 10px;
  width: calc(100% - 20px); // accounting for padding

  .title {
    font-size: 38px;
  }
  .name {
    font-size: 28px;
  }
  .tabContainer {
    display: flex;
    border-bottom: solid 1px var(--color-black);

    .tab {
      display: flex;
      align-items: center;
      border: solid 1px var(--color-black);
      padding: 8px;
      position: relative;
      top: 1px;
      cursor: pointer;
      transition: .1s ease-in;

      &:first-child {
        margin: 0 15px;
      }
      &.active {
        border-bottom: solid 1px var(--color-white);
      }
      .tabLabel {
        margin: 0 5px;
      }
    }
  }
  .settingsContainer {

    form {
      max-width: 50vw;

      .mat-form-field {
        display: block;
      }
      button[type='submit'] {
        color: var(--color-white);
      }
      .toggle {
        margin-top: 15px;
      }
    }
  }
  app-payment-cards {
    width: 50vw;
  }
  .emptyState {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  @media (min-width: 768px) {
    .tabContainer {
      display: flex;
      border-bottom: solid 1px var(--color-black);
  
      .tab {
        padding: 15px;
  
        .tabLabel {
          margin: 0 10px;
        }
      }
    }
  }
}