<div class="basicOptionsContainer">
  <app-colors-picker></app-colors-picker>
  <div class="optionWrapper">
    <div class="optionHeader">Patent Search <mat-icon (click)="openDialog()">info</mat-icon></div>
    <form (submit)="searchPatent($event)">
      <div class="inputWrapper">
        <mat-form-field>
          <input
            matInput
            placeholder="Patent Number" 
            [(ngModel)]="generatorService.patentNumber" 
            name="patentNumber"
          />
        </mat-form-field>
        <button 
          mat-button 
          type="submit" 
          class="searchBtn boldFont" 
          color="primary"
        >Search</button>
      </div>
    </form>
  </div>
  <div class="spinnerContainer" *ngIf="loadingPatentImages">
    <mat-spinner></mat-spinner>
  </div>
  <div class="resultsContainer" *ngIf="generatorService.patentName">
    <div class="imgGrid">
      <div class="imgWrapper" *ngFor="let img of generatorService.patentImages; let i = index;">
        <img [src]="img" (click)="expandImage(i)" />
        <div class="selectImg" (click)="selectPatent(i)">Select Image</div>
      </div>
    </div>
  </div>
</div>
  