<div class="basicOptionsContainer">
  <app-colors-picker 
    [trace]="posterTrace" 
    [background]="posterBackground" 
    (posterTrace)="trace.emit($event)" 
    (posterBackground)="background.emit($event)"
  ></app-colors-picker>
  <div class="optionWrapper">
    <div class="optionHeader">Patent Search <i class="material-icons" (click)="presentInfoPopover($event)">info</i></div>
    <form (submit)="searchPatent($event)">
      <div class="inputWrapper">
        <input 
          placeholder="Patent Number" 
          [(ngModel)]="patentNumber" 
          name="patentNumber"
        />
        <button type="submit" class="searchBtn boldFont">Search</button>
      </div>
    </form>
  </div>
  <div class="spinnerContainer" *ngIf="loadingPatentImages">
    <mat-spinner></mat-spinner>
  </div>
  <div class="resultsContainer" *ngIf="patentName">
    <div class="imgGrid">
      <div class="imgWrapper" *ngFor="let img of patentImages; let i = index;">
        <img [src]="img" (click)="expandImage(i)" />
        <div class="selectImg" (click)="selectPatent(i)">Select Image</div>
      </div>
    </div>
  </div>
</div>
  