.basicOptionsContainer {

  .optionHeader {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .material-icons {
      margin-left: 5px;
      cursor: pointer;
    }
  }
  form {

    .inputWrapper {
      display: flex;
      width: 100%;

      mat-form-field {
        flex: 1;
      }
    }
  }
  .spinnerContainer {
    display: flex;
    justify-content: center;
    margin-top: 20%;

    mat-spinner {
      color: var(--color-secondary);
    }
  }
  .imgGrid {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    padding-bottom: 25px;

    .imgWrapper {
      width: calc(50% - 4px);
      margin-bottom: 5px;
      border: solid 1px var(--color-border);

      img {
        cursor: pointer;
        max-width: 100%;
      }
      .selectImg {
        width: 100%;
        text-align: center;
        background: var(--color-primary);
        color: var(--color-white);
        padding: 5px 0;
        cursor: pointer;
      }
    }
    .imgWrapper:nth-child(odd) {
      margin: 2px 2px 2px 0;
    }
    .imgWrapper:nth-child(even) {
      margin: 2px 0 2px 2px;
    }
  }
  @media (min-width: 768px) {
    .imgGrid {
      padding-bottom: 0;
    }
  }
}