<div class="colorsWrapper">
  <div class="optionWrapper">
    <div class="optionHeader">Trace Color</div>
    <input 
      cpPosition="left" 
      cpOutputFormat="hex"
      cpAlphaChannel="disabled"
      [cpDisableInput]="true" 
      [(colorPicker)]="generatorService.traceColor" 
      [style.background]="generatorService.traceColor" 
      (colorPickerClose)="updateColors()"
    />
  </div>
  <div class="optionWrapper">
    <div class="optionHeader">Background</div>
    <input 
      cpPosition="left"
      cpOutputFormat="hex"
      cpAlphaChannel="disabled" 
      [cpDisableInput]="true"
      [(colorPicker)]="generatorService.backgroundColor" 
      [style.background]="generatorService.backgroundColor" 
      (colorPickerChange)="updateColors()"
    />
  </div>
</div>