<div class="colorsWrapper">
  <div class="optionWrapper">
    <div class="optionHeader">{{type === 'trace' ? 'Trace' : 'Font'}} Color</div>
    <input 
      cpPosition="left" 
      cpOutputFormat="hex"
      cpAlphaChannel="disabled"
      [cpDisableInput]="true" 
      [(colorPicker)]="colorValue" 
      [style.background]="colorValue" 
      (colorPickerClose)="updateColors($event, 'color')"
    />
  </div>
  <div class="optionWrapper">
    <div class="optionHeader">Background</div>
    <input 
      cpPosition="left"
      cpOutputFormat="hex"
      cpAlphaChannel="disabled" 
      [cpDisableInput]="true"
      [(colorPicker)]="backgroundValue" 
      [style.background]="backgroundValue" 
      (colorPickerChange)="updateColors($event, 'background')"
    />
  </div>
</div>