<div class="customizeOptionsContainer">
  <mat-radio-group class="choiceContainer" [(ngModel)]="selectedRemix" (change)="radioChange()">
    <mat-radio-button value="fusion">Fusion Remix</mat-radio-button>
    <mat-radio-button value="trace">Trace Remix</mat-radio-button>
  </mat-radio-group>
  <div class="fusionContainer" *ngIf="selectedRemix === 'fusion'">
    <div>Select A Painting To Fuse With</div>
    <div class="paintingsContainer">
      <div class="paintingWrapper" *ngFor="let painting of paintings;" (click)="generatorService.fuseImages(painting.value)">
        <img [src]="painting.img" />
        <div class="paintingInfo">{{painting.name}}</div>
      </div>
    </div>
  </div>
  <div class="traceContainer" *ngIf="selectedRemix === 'trace'">
    <app-colors-picker type="trace" [colorValue]="generatorService.traceColor" [backgroundValue]="generatorService.backgroundColor"></app-colors-picker>
    <button mat-button color="primary" (click)="trace()">Trace</button>
  </div>
</div>