.generatorContainer {
  display: flex;
  width: 100vw;
  height: calc(100vh - var(--height-navbar) - 89px);
  padding-top: var(--height-navbar);
  padding-bottom: 89px; // for mobile 39px of btn + arrow height

  .hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    bottom: 0;
    overflow: hidden;

    // setting width here to make sure our image is properly sized at 300DPI
    .background {
      position: relative;

      &.Portrait {

        &.Small {
          width: (8 * 300px);
        }
        &.Medium {
          width: (12 * 300px);
        }
        &.Large {
          width: (18 * 300px);
        }
      }
      &.Landscape {

        &.Small {
          width: (12 * 300px);
        }
        &.Medium {
          width: (18 * 300px);
        }
        &.Large {
          width: (27 * 300px);
        }
      }
      &.fusion-poster {
        width: auto;
           
        img {

          // this will just be for an in browser demo so low res is fine
          &.Portrait {
            width: calc(350px * 2 / 3);
            height: 350px;
          }
          &.Landscape {
            width: 350px;
            height: calc(350px * 2 / 3);
          }
          &.processing {
            width: 350px!important;
            height: 350px!important;
          }
        }
      }
      img {
        max-width: 100%; // set here so it will scale to the size of the background
      }
    }
  }
  .posterContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .emptyState {
      font-size: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px;
    }
    mat-spinner {
      color: var(--color-secondary);
    }
    .posterWrapper {
      padding: calc(300px * .035);
      background: white;
      display: inline-block;
      border: solid 1px var(--color-border);
      position: relative;

      i {
        display: none;
        position: absolute;
        background: rgba(51,55,68,0.5);
        font-style: normal;
        line-height: 38px;
        text-align: center;
        font-size: 10px;

        &.horizontal {
          width: 100%;
          top: 100%;
          margin-top: 30px;
          height: 1px;
          left: 0;
        }
        &.horizontal:before,
        &.horizontal:after,
        &.vertical:before,
        &.vertical:after {
          content: '';
          background: rgba(51,55,68,0.5);
          position: absolute;
          box-sizing: content-box;
        }
        &.horizontal:before,
        &.horizontal:after {
          height: 15px;
          padding-bottom: 1px;
          top: -7.5px;
          width: 1px;
        }
        &.horizontal:after {
          right: 0;
        }
        &.horizontal:before {
          left: 0;
        }
        &.vertical {
          top: 0;
          left: 100%;
          margin-left: 30px;
          height: 100%;
          width: 1px;

          > i {
            font-style: normal;
            position: absolute;
            top: 50%;
            width: 45px;
            transform: rotate(90deg);
            white-space: nowrap;
            background: transparent;
          }
        }
        &.vertical:before,
        &.vertical:after {
          width: 15px;
          padding-right: 1px;
          left: -7.5px;
          height: 1px;
        }
        &.vertical:after {
          bottom: 0;
        }
      }
      &.Portrait {
        width: 75%;

        &.fusion-poster {

          img {
            height: 450px;
          }
        }
        img {
          width: 100%;
        }
        &.map-poster {
          width: auto;

          .mapContainer {
            width: 80vw;
            height: calc(80vw * 1.5);
            overflow: hidden;
  
            .mapWrapper {
              // width: calc(80vw * 4);
              // height: calc(80vw * 1.5 * 4);

              &.Small {
                width: calc(80vw * 2.66666);
                height: calc(80vw * 1.5 * 2.66666);
              }
              &.Medium {
                width: calc(80vw * 4);
                height: calc(80vw * 1.5 * 4);
              }
              &.Large {
                width: calc(80vw * 6);
                height: calc(80vw * 1.5 * 6);
              }
            }
          }
        }
      }
      &.Landscape {
        width: 80%;

        &.fusion-poster {
          width: 80vw;

          img {
            width: 100%;
            height: calc(80vw * 2 / 3);
          }
        }
        img {
          width: 100%;
        }
        &.map-poster {
          width: auto;
          
          .mapContainer {
            width: 80vw;
            height: calc(80vw / 1.5);
  
            .mapWrapper {
              // width: calc(80vw * 4);
              // height: calc(80vw / 1.5 * 4);

              &.Small {
                width: calc(80vw * 2.66666);
                height: calc(80vw / 1.5 * 2.66666);
              }
              &.Medium {
                width: calc(80vw * 4);
                height: calc(80vw / 1.5 * 4);
              }
              &.Large {
                width: calc(80vw * 6);
                height: calc(80vw / 1.5 * 6);
              }
            }
          }
        }
      }
      .background {
        position: relative;
    
        .posterGrid {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border: solid 1px var(--patentColor);
          border-width: 1px 0 0 1px;
      
          > div {
            flex-basis: calc(100% / 6);
            border: solid 1px var(--patentColor);
            border-width: 0 1px 1px 0;
          }
        }
      }
      .mapContainer {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: content-box;
        overflow: hidden;

        .mapWrapper {
          position: absolute;
          top: 0;
          left: 0;
          // transform: scale(.25);
          transform-origin: 0 0;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          overflow: hidden;
  
          // 100 / (width wrapper / width container)
          &.Small {
            transform: scale(.375);
          }
          &.Medium {
            transform: scale(.25);
          }
          &.Large {
            transform: scale(.166);
          }
          mgl-map {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .mapboxLinks {
      color: #bbb;
      position: absolute;
      bottom: 10%;
      font-size: 10px;

      a {
        color: #bbb;
      }
      span {
        margin: 0 5px;
      }
    }
    .mobileOptionsContainer {

      .addToCartBtn {
        color: var(--color-white);
        padding: 5px 0;
        text-align: center;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        z-index: 9999;
      }
    }
  }

  @media (min-width: 768px) {
    padding-bottom:  0;
    height: auto;

    .posterContainer {

      .mobileOptionsContainer {
        display: none;
      }
      .posterWrapper {
        
        i {
          display: block;
        }
        &.Portrait {
          width: auto;

          img {
            width: 300px;
          }
          &.map-poster {
            width: auto;
            
            .mapContainer {
              width: 30vw;
              height: calc(30vw * 1.5);
              max-width: 300px;
              max-height: 450px;
    
              .mapWrapper {

                &.Small {
                  max-width: 800px;
                  max-height: 1200px;
                  width: calc(30vw * 2.66666);
                  height: calc(30vw * 1.5 * 2.66666);
                }
                &.Medium {
                  max-width: 1200px;
                  max-height: 1800px;
                  width: calc(30vw * 4);
                  height: calc(30vw * 1.5 * 4);
                }
                &.Large {
                  max-width: 1800px;
                  max-height: 2700px;
                  width: calc(30vw * 6);
                  height: calc(30vw * 1.5 * 6);
                }
              }
            }
          }
        }
        &.Landscape {

          &.fusion-poster {
            width: 40vw;
            max-width: 60%;

            img {
              width: 100%;
              height: calc(40vw * 2 / 3);
            }
          }
          &.map-poster {
            width: auto;
            
            .mapContainer {
              width: 35vw;
              height: calc(35vw / 1.5);
              max-height: 300px;
              max-width: 450px;
    
              .mapWrapper {

                &.Small {
                  max-width: 1200px;
                  max-height: 800px;
                  width: calc(35vw * 2.66666);
                  height: calc(35vw * 1.5 * 2.66666);
                }
                &.Medium {
                  max-width: 1800px;
                  max-height: 1200px;
                  width: calc(35vw * 4);
                  height: calc(35vw * 1.5 * 4);
                }
                &.Large {
                  max-width: 2700px;
                  max-height: 1800px;
                  width: calc(35vw * 6);
                  height: calc(35vw * 1.5 * 6);
                }
              }
            }
          }
        }
      }
      .mapboxLinks {
        bottom: 1%;
        font-size: 12px;
      }
    }
    .optionsContainer {
      display: flex;

      .productContainer {
        display: block;
      }
    }
  }

  @media (min-width: 1024px) {
    app-options-container {
      width: 40%;
      max-width: 450px;
    }
  }
}