<app-pagewrapper [displayFooter]="false" [noMargin]="true">
  <div class="generatorContainer" [style.background]="generatorService.backgroundColor">
    <div class="posterContainer">
      <!-- <div class="patentTitle">{{patentName}}</div> -->
      <div 
        class="posterWrapper" 
        *ngIf="posterSrc || generatorService.mapBounds" 
        [ngClass]="[ generatorService.orientation, generatorService.remixType === 'fusion' ? 'fusion' : '' ]"
      >
        <div class="background" [style.background]="generatorService.backgroundColor" *ngIf="posterSrc">
          <img [src]="posterSrc" />
        </div>
        <div class="mapWrapper" id="abc" *ngIf="generatorService.mapBounds">
          <mgl-map
            [style]="generatorService.mapStyle"
            [zoom]="[9]"
            [center]="generatorService.mapCenter"
            [fitBounds]="generatorService.mapBounds"
            [attributionControl]="false"
          >
            <mgl-control
              mglNavigation
              [showCompass]="false"
            ></mgl-control>
          </mgl-map>
        </div>
        <i class="horizontal">{{generatorService.posterWidth}} inch</i>
        <i class="vertical"><i>{{generatorService.posterHeight}} inch</i></i>
      </div>
      <div class="mapboxLinks" *ngIf="generatorService.mapBounds">
        <a target="_blank" href="https://www.mapbox.com/about/maps/">© Mapbox</a>
        <span>|</span>
        <a target="_blank" href="http://www.openstreetmap.org/copyright">© OpenStreetMap</a>
        <span>|</span>
        <a target="_blank" href="https://www.mapbox.com/map-feedback/">Improve this map</a>
      </div>
      <mat-spinner *ngIf="tracing"></mat-spinner>
      <div *ngIf="!posterSrc && !tracing && !generatorService.mapBounds" class="emptyState">
        <div><img class="logoImg" src="../../../assets/dino.svg" /></div>
        <div *ngIf="generatorService.generatorType === 'patent-poster'">Select a patent to display your creation here</div>
        <div *ngIf="generatorService.generatorType === 'remix-poster'">Upload and remix an image to display your creation here</div>
        <div *ngIf="generatorService.generatorType === 'map-poster'">Select a location to display your map</div>
      </div>
      <div class="mobileOptionsContainer">
        <!-- <app-options-container
          (addToCart)="addToCart()"
        ></app-options-container> -->
        <button 
          class="addToCartBtn boldFont" 
          mat-flat-button color="primary" 
          (click)="addToCart()"
        >Add to Cart</button>
      </div>
    </div>
    <app-options-container 
      (addToCart)="addToCart()"
    ></app-options-container>
    <!-- hidden container to have full size image to use for dom to image -->
    <div class="hidden" *ngIf="posterSrcHidden">
      <div 
        class="background" 
        [style.background]="generatorService.backgroundColor" 
        id="poster" 
        [ngClass]="[generatorService.remixType === 'fusion' ? 'fusion' : '', generatorService.orientation, generatorService.size]"
      >
        <img 
          [src]="posterSrcHidden" 
          id="inputImage" 
          [ngClass]="[generatorService.orientation, generatorService.processingFusion ? 'processing' : '']"
        />
      </div>
    </div>
  </div>
</app-pagewrapper>