<div class="optionsContainer" [ngClass]="generatorService.mobileOptionsActive ? 'active' : ''">
  <div class="toggleWrapper">
    <mat-icon 
      class="mobileToggle" 
      (click)="generatorService.mobileOptionsActive ? generatorService.mobileOptionsActive = false : generatorService.mobileOptionsActive = true
    ">arrow_upward</mat-icon>
  </div>
  <div class="productContainer">
    <div class="productName boldFont">{{generatorService.product?.name}}</div>
    <div class="productPrice">{{generatorService.product?.meta.display_price.with_tax.formatted}}</div>
  </div>
  <div>
    <div class="tabNav">
      <div 
        class="tab"
        [ngClass]="i === selectedTab ? 'active' : ''" 
        *ngFor="let tab of navTabs; let i = index;" 
        (click)="generatorService.optionsTabSubject.next(i)"
      >
        <span>{{i + 1}}.</span>
        <div>{{tab}}</div>
      </div>
    </div>
  </div>
  <div class="basicContainer optionsWrapper" *ngIf="selectedTab === 0">
    <app-patent-basic-options *ngIf="generatorService.generatorType === 'patent-poster'"></app-patent-basic-options>
    <app-map-basic-options

      *ngIf="generatorService.generatorType === 'map-poster'"
    ></app-map-basic-options>
    <app-remix-basic-options *ngIf="generatorService.generatorType === 'remix-poster'"></app-remix-basic-options>
  </div>
  <div class="customizeContainer optionsWrapper" *ngIf="selectedTab === 1">
    <app-remix-customize-options *ngIf="generatorService.generatorType === 'remix-poster'"></app-remix-customize-options>
  </div>
  <div class="finishContainer optionsWrapper" *ngIf="selectedTab === 2">
    <div class="optionWrapper" *ngIf="generatorService.generatorType === 'map-poster'">
      <div class="optionHeader">Orientation</div>
      <div class="choiceArr">
        <div
          class="optionBtn" 
          *ngFor="let orientationOption of generatorService.orientationOptions; let i = index;" 
          (click)="generatorService.selectOrientation(orientationOption)"
          [ngClass]="generatorService.orientation === orientationOption ? 'selected' : ''"
        >{{orientationOption}}</div>
      </div>
    </div>
    <div class="optionWrapper">
      <div class="optionHeader">Sizing</div>
      <div class="choiceArr">
        <div 
          class="optionBtn"
          *ngFor="let sizeOption of generatorService.sizeOptions; let i = index;" 
          (click)="generatorService.selectSize(i)"
          [ngClass]="sizeOption === generatorService.size ? 'selected' : ''"
        >{{sizeOption}}<br>{{generatorService.dimensions[sizeOption].width}} x {{generatorService.dimensions[sizeOption].height}} in.</div>
      </div>
    </div>
  </div>
  <!-- <div class="help">Need Help? Contact Us</div> -->
  <button 
    class="addToCartBtn boldFont" 
    mat-flat-button 
    (click)="addToCart.emit()"
    color="primary"
  >
    <div>Add to Cart</div>
    <mat-spinner *ngIf="generatorService.isAddingToCart" color="white" diameter="20"></mat-spinner>
  </button>
</div>