<div class="basicOptionsContainer">
  <div class="photoSearchContainer" *ngIf="!generatorService.cropperImgUrl">
    <form (submit)="searchPhotos(query)">
      <div class="inputWrapper">
        <mat-form-field>
          <input
            matInput
            placeholder="Search Photos" 
            [(ngModel)]="query" 
            name="query"
          />
        </mat-form-field>
        <button 
          mat-button 
          type="submit" 
          class="boldFont" 
          color="primary"
        >Search</button>
      </div>
    </form>
    <div class="resultsContainer">
      <div class="photoWrapper" *ngFor="let photo of photoResults" (click)="selectPhoto(photo.original)">
        <img [src]="photo.thumbnail" />
      </div>
    </div>
  </div>
  <div class="divider" *ngIf="!generatorService.cropperImgUrl && !searchActive">
    <div class="line"></div>
    <div class="boldFont">OR</div>
    <div class="line"></div>
  </div>
  <div class="fileUploadContainer" *ngIf="!generatorService.cropperImgUrl && !readingFile && !searchActive">
    <label for="file">
      <file-drop (onFileDrop)="dropped($event)" customstyle="fileDrop">
        <div><mat-icon>cloud_upload</mat-icon></div>
        <div>Drag and drop image here or click to select</div>
      </file-drop>
    </label>
    <input 
      type="file" 
      id="file" 
      name="file" 
      accept="image/*" 
      (change)="fileChangeEvent($event)"
    />
  </div>
  <div class="spinnerContainer" *ngIf="readingFile">
    <mat-spinner></mat-spinner>
  </div>
  <app-cropper 
    *ngIf="generatorService.cropperImgUrl" 
    [imgUrl]="generatorService.cropperImgUrl"
  ></app-cropper>
</div>
