<app-pagewrapper>
  <div class="checkoutContainer">
    <h1>Review and Place Your Order</h1>
    <div class="expressContainer" *ngIf="!customerService.customerToken.getValue()">
      <div class="boldFont">Express Checkout</div>
      <button mat-flat-button color="primary" (click)="customerService.signin('login')">Sign In</button>
    </div>
    <form [formGroup]="checkoutForm" (submit)="submitOrder($event)">
      <div class="sectionWrapper">
        <div class="sectionHeader">1. Enter Your Billing Address</div>
        <div class="sectionContent">
          <div class="addressesContainer">
            <app-address-grid [addresses]="addresses"></app-address-grid>
          </div>
          <ng-container formGroupName="billingAddress">
            <div>Please enter the billing information associated with your credit card.</div>
            <div class="required">* Required Fields</div>
            <mat-form-field>
              <input
                matInput
                placeholder="* First Name" 
                formControlName="first_name"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.first_name">
                <mat-error class="error-message" *ngIf="checkoutForm.get('billingAddress').get('first_name').hasError(validation.type) && (checkoutForm.get('billingAddress').get('first_name').dirty || checkoutForm.get('billingAddress').get('first_name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* Last Name" 
                formControlName="last_name"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.last_name">
                <mat-error class="error-message" *ngIf="checkoutForm.get('billingAddress').get('last_name').hasError(validation.type) && (checkoutForm.get('billingAddress').get('last_name').dirty || checkoutForm.get('billingAddress').get('last_name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Company" 
                formControlName="company_name"
                [errorStateMatcher]="matcher"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="* Country" formControlName="country" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{country}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* Address Line 1" 
                formControlName="line_1"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.line_1">
                <mat-error class="error-message" *ngIf="checkoutForm.get('billingAddress').get('line_1').hasError(validation.type) && (checkoutForm.get('billingAddress').get('line_1').dirty || checkoutForm.get('billingAddress').get('line_1').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Address Line 2" 
                formControlName="line_2"
                [errorStateMatcher]="matcher"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* City" 
                formControlName="city"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.city">
                <mat-error class="error-message" *ngIf="checkoutForm.get('billingAddress').get('city').hasError(validation.type) && (checkoutForm.get('billingAddress').get('city').dirty || checkoutForm.get('billingAddress').get('city').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="* State" formControlName="county" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let state of states" [value]="state">
                  {{state}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* Zip Code" 
                formControlName="postcode"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.postcode">
                <mat-error class="error-message" *ngIf="checkoutForm.get('billingAddress').get('postcode').hasError(validation.type) && (checkoutForm.get('billingAddress').get('postcode').dirty || checkoutForm.get('billingAddress').get('postcode').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Phone" 
                formControlName="phone_number"
                [errorStateMatcher]="matcher"
                type="tel"
              />
            </mat-form-field>
          </ng-container>
        </div>
      </div>
      <div class="sectionWrapper">
        <div class="sectionHeader">2. Choose a Shipping Address</div>
        <div class="sectionContent">
          <mat-checkbox 
            [(ngModel)]="formsSame" 
            [ngModelOptions]="{standalone: true}" 
            color="primary"
          >Ship to same address as billing</mat-checkbox>
          <ng-container formGroupName="shippingAddress" *ngIf="!formsSame">
            <div class="shippingHeader">Enter a new shipping address below</div>
            <mat-form-field>
              <input
                matInput
                placeholder="Name" 
                formControlName="name"
              />
              <mat-hint>Name this address i.e "Home"</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* First Name" 
                formControlName="first_name"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.first_name">
                <mat-error class="error-message" *ngIf="checkoutForm.get('shippingAddress').get('first_name').hasError(validation.type) && (checkoutForm.get('shippingAddress').get('first_name').dirty || checkoutForm.get('shippingAddress').get('first_name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* Last Name" 
                formControlName="last_name"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.last_name">
                <mat-error class="error-message" *ngIf="checkoutForm.get('shippingAddress').get('last_name').hasError(validation.type) && (checkoutForm.get('shippingAddress').get('last_name').dirty || checkoutForm.get('shippingAddress').get('last_name').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Company" 
                formControlName="company_name"
                [errorStateMatcher]="matcher"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="* Country" formControlName="country" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{country}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* Address Line 1" 
                formControlName="line_1"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.line_1">
                <mat-error class="error-message" *ngIf="checkoutForm.get('shippingAddress').get('line_1').hasError(validation.type) && (checkoutForm.get('shippingAddress').get('line_1').dirty || checkoutForm.get('shippingAddress').get('line_1').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Address Line 2" 
                formControlName="line_2"
                [errorStateMatcher]="matcher"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* City" 
                formControlName="city"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.city">
                <mat-error class="error-message" *ngIf="checkoutForm.get('shippingAddress').get('city').hasError(validation.type) && (checkoutForm.get('shippingAddress').get('city').dirty || checkoutForm.get('shippingAddress').get('city').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="* State" formControlName="county" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let state of states" [value]="state">
                  {{state}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="* Zip Code" 
                formControlName="postcode"
                [errorStateMatcher]="matcher"
              />
              <mat-error *ngFor="let validation of formValidationMessages.postcode">
                <mat-error class="error-message" *ngIf="checkoutForm.get('shippingAddress').get('postcode').hasError(validation.type) && (checkoutForm.get('shippingAddress').get('postcode').dirty || checkoutForm.get('shippingAddress').get('postcode').touched)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </ng-container>
        </div>
      </div>
      <div class="sectionWrapper">
        <div class="sectionHeader">3. Select Gift Options (Optional)</div>
        <div class="sectionContent">
          <mat-checkbox color="primary"><strong>Is this a gift?</strong> We will ship the package without prices listed on the invoice.</mat-checkbox>
        </div>
      </div>
      <div class="sectionWrapper payment">
        <div class="sectionHeader">4. Verify Your Payment Info</div>
        <div class="sectionContent">
          <div class="existingCard" *ngIf="(isCardSelected$ | async)">
            <div class="cardWrapper">
              <img [src]="stripeService.cardImages[stripeService.selectedCard.brand]" />
              <div class="brand">{{stripeService.selectedCard.brand}}</div>
              <div>ending in {{stripeService.selectedCard.last4}}</div>
            </div>
            <button mat-button color="primary" (click)="chooseNewCard()" type="button">Change</button>
          </div>
          <div class="newCard">
            <div id="card-element" class="rounded"></div>
            <button 
              mat-button 
              color="primary" 
              (click)="addCard()"
              type="button"
            >Add Card</button>
          </div>
        </div>
      </div>
      <div class="sectionWrapper review">
        <div class="sectionHeader">
          <div>5. Review and Submit</div>
          <div>Each</div>
          <div>Quantity</div>
          <div>Total</div>
        </div>
        <div class="sectionContent">
          <div class="cartItemWrapper" *ngFor="let product of cart; let i = index;">
            <app-cart-item-card 
              [product]="product" 
              [isCheckout]="true"
            ></app-cart-item-card>
          </div>
        </div>
      </div>
      <div class="bottomContainer">
        <div class="left">
          <button 
            mat-button 
            color="primary" 
            (click)="router.navigateByUrl('/cart')" 
            type="button"
          >Back To Cart</button>
        </div>
        <div class="right">
          <app-cart-totals [cart]="cart"></app-cart-totals>
          <div class="buttonWrapper">
            <button mat-flat-button color="primary" type="submit">Submit Order</button>
          </div>
        </div>
      </div>
    </form>
    <app-informational></app-informational>
  </div>
</app-pagewrapper>