.basicOptionsContainer {

  .optionHeader {
    display: flex;
    align-items: center;
    margin: 5px 0;

    mat-icon {
      margin-left: 5px;
      cursor: pointer;
    }
  }
  form {

    .inputWrapper {
      display: flex;
      width: 100%;

      mat-form-field {
        flex: 1;
      }
    }
  }
  .stylesContainer {
    display: flex;
    flex-wrap: wrap;

    .mapStyle {
      cursor: pointer;
      text-align: center;
      margin-right: 5px;
      margin-top: 5px;
      
      .styleImage {
        height: 50px;
        width: 50px;
        background-position: center;
        background-size: cover;
        transition: .15s ease-in;
        position: relative;
        border: solid 2px #eee;

        .iconWrapper {
          position: absolute;
          top: 2px;
          right: 2px;
          background: white;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .mat-icon {
            height: 16px;
            width: 16px;
            font-size: 16px;
          }
        }
      }
    }
    .mapStyle:hover {

      .styleImage {
        border: solid 2px black;
      }
    }
  }
}