<app-pagewrapper>
  <div class="cartContainer">
    <h1>Your Cart</h1>
    <div class="tabContainer">
      <div 
        class="tab" 
        *ngFor="let tab of tabs; let i = index;" 
        [ngClass]="activeTab === i ? 'active' : ''"
        (click)="activeTab = i"
      >
        <mat-icon>{{tab.icon}}</mat-icon>
        <div class="tabLabel">{{tab.label}}</div>
        <div>({{tab.number}})</div>
      </div>
    </div>
    <div *ngIf="(activeTab === 0 && cart?.length) || (activeTab === 1 && wishlistProducts.length)" class="generalWrapper">
      <div class="headerContainer">
        <div>Item Description</div>
        <div class="perEa">Each</div>
        <div>Quantity</div>
        <div>Total</div>
      </div>
      <div class="productContainer" *ngIf="activeTab === 0">
        <div class="cartItemWrapper" *ngFor="let product of cart; let i = index;">
          <app-cart-item-card [product]="product"></app-cart-item-card>
        </div>
        <div class="infoWrapper">
          <div class="promoContainer">
            <form (submit)="cartService.applyPromoCode(promoCode)">
              <div class="inputWrapper">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Promo Code" 
                    [(ngModel)]="promoCode" 
                    name="promoCode"
                  />
                </mat-form-field>
                <button 
                  mat-button 
                  type="submit" 
                  class="boldFont" 
                  color="primary"
                >Apply</button>
              </div>
            </form>
          </div>
          <app-cart-totals [cart]="cart"></app-cart-totals>
          <div class="buttonWrapper">
            <button mat-flat-button color="primary" (click)="router.navigateByUrl('/checkout')">Proceed With Order</button>
          </div>
        </div>
      </div>
      <div class="wishlistContainer" *ngIf="activeTab === 1">
        <div class="productWrapper" *ngFor="let product of wishlistProducts;">
  
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 0 && !cart?.length" class="emptyState">
      <div><img class="logoImg" src="../../../assets/dino.svg" /></div>
      <div>Your cart is empty. Add some products to see them here!</div>
    </div>
    <div *ngIf="activeTab === 1 && !wishlistProducts.length" class="emptyState">
      <div><img class="logoImg" src="../../../assets/dino.svg" /></div>
      <div>Your wishlist is empty. Add some products to see them here!</div>
    </div>
    <app-informational></app-informational>
  </div>
</app-pagewrapper>