.cartContainer {
  padding: 10px;
  max-width: calc(100% - 20px); // accounting for padding

  .tabContainer {
    display: flex;
    border-bottom: solid 1px var(--color-black);

    .tab {
      display: flex;
      align-items: center;
      border: solid 1px var(--color-black);
      padding: 8px;
      position: relative;
      top: 1px;
      cursor: pointer;
      transition: .1s ease-in;

      &:first-child {
        margin: 0 15px;
      }
      &.active {
        border-bottom: solid 1px var(--color-white);
      }
      .tabLabel {
        margin: 0 5px;
      }
    }
  }
  .generalWrapper {

    .headerContainer {
      display: flex;
      font-weight: bold;
      background: #ccc;
      padding: 6px 0 6px 6px;
      text-align: center;
      margin-top: 30px;
  
      > div {
        flex: 1;
        display: none;
      }
      > div:first-child {
        flex: 3;
        display: block;
        text-align: left;
      }
    }
    .productContainer {
      display: flex;
      flex-direction: column;

      .cartItemWrapper {
        border-bottom: solid 1px var(--color-border);
      }
      .cartItemWrapper:last-child {
        border-bottom: none;
      }
      app-cart-totals {
        align-self: flex-end;
      }
    }
    .buttonWrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;

      button {
        color: var(--color-white);
      }
    }
  }
  .emptyState {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  @media (min-width: 768px) {
    .tabContainer {
      display: flex;
      border-bottom: solid 1px var(--color-black);
  
      .tab {
        padding: 15px;
  
        .tabLabel {
          margin: 0 10px;
        }
      }
    }
    .generalWrapper {

      .headerContainer {
    
        > div {
          display: block;
        }
      }
    }
  }
}