<app-pagewrapper>
  <div class="cartContainer">
    <h1>Your Cart</h1>
    <div class="tabContainer">
      <div 
        class="tab" 
        *ngFor="let tab of tabs; let i = index;" 
        [ngClass]="activeTab === i ? 'active' : ''"
        (click)="activeTab = i"
      >
        <mat-icon>{{tab.icon}}</mat-icon>
        <div class="tabLabel">{{tab.label}}</div>
        <div>({{tab.number}})</div>
      </div>
    </div>
    <div *ngIf="(activeTab === 0 && cart?.data.length) || (activeTab === 1 && wishlistProducts.length)" class="generalWrapper">
      <div class="headerContainer">
        <div>Item Description</div>
        <div>Each</div>
        <div>Quantity</div>
        <div>Total</div>
      </div>
      <div class="productContainer" *ngIf="activeTab === 0">
        <div class="productWrapper" *ngFor="let product of cart?.data; let i = index;">
          <div class="descriptionContainer">
            <div class="imgContainer">
              <img [src]="product.image.href" />
            </div>
            <div class="productDescriptionContainer">
              <div class="productName">{{product.name}}</div>
              <div class="productDescription">{{product.description}}</div>
              <div>{{product.product_id}}</div>
            </div>
            <div class="optionsContainer">
              <div>Move To Wishlist</div>
              <div (click)="remove(product)">Remove</div>
            </div>
          </div>
          <div>{{product.meta.display_price.without_tax.unit.formatted}}</div>
          <div class="quantityContainer">
            <form (submit)="recalcQuant($event, product, i)">
              <input 
                matInput 
                [(ngModel)]="product.quantity" 
                type="number" 
                min="1" 
                name="quant" 
              />
              <button mat-button type="submit" color="primary">Recaculate</button>
            </form>
          </div>
          <div>
            {{product.meta.display_price.without_tax.value.formatted}}
          </div>
        </div>
        <div class="totalsContainer">
          <div class="subtotal">
            <div>Subtotal</div>
            <div>{{cart?.meta.display_price.without_tax.formatted}}</div>
          </div>
          <div class="shipping">
            <div>Shipping</div>
            <div>$0</div>
          </div>
          <div class="tax">
            <div>Estimated Tax</div>
            <div class="right">Calculated at Checkout</div>
          </div>
          <div class="total boldFont">
            <div>Total</div>
            <div>{{cart?.meta.display_price.without_tax.formatted}}</div>
          </div>
        </div>
        <div class="buttonWrapper">
          <button mat-flat-button color="primary" (click)="router.navigateByUrl('/checkout')">Proceed With Order</button>
        </div>
      </div>
      <div class="wishlistContainer" *ngIf="activeTab === 1">
        <div class="productWrapper" *ngFor="let product of wishlistProducts;">
  
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 0 && !cart?.data.length" class="emptyState">
      <div><img class="logoImg" src="../../../assets/dino.svg" /></div>
      <div>Your cart is empty. Add some products to see them here!</div>
    </div>
    <div *ngIf="activeTab === 1 && !wishlistProducts.length" class="emptyState">
      <div><img class="logoImg" src="../../../assets/dino.svg" /></div>
      <div>Your wishlist is empty. Add some products to see them here!</div>
    </div>
    <app-informational></app-informational>
  </div>
</app-pagewrapper>