/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/theme.scss';
@import '../node_modules/ngx-sharebuttons/styles/share-buttons.scss';
@import '../node_modules/ngx-sharebuttons/styles/themes/material/material-dark-theme.scss';

// global css4 vars
:root {
  --color-primary: #4CAF50;
  --color-secondary: #92e89e;
  --color-tertiary: #8dd2c0;
  --color-white: white;
  --color-black: black;
  --color-border: #ddd;
  --height-navbar: 54px;
}

.boldFont {
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
}

app-pagewrapper {
  position: fixed;
  top:        0;
  bottom:     0;
  left:       0;
  right:      0;
  overflow:   scroll;
  -ms-overflow-style: none;
  font-family: 'Helvetica Neue', 'RobotoLight', sans-serif;
}

app-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

app-navbar {
  width: 100%;
}

.optionHeader {
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 14px;
}

button:focus {
  outline: none;
}

.patentModal {

  .popover-content {
    width: 385px;
  }
}

.mobiledialog-panel {
  max-width: none !important;
  max-height: none !important;

  width: 100% !important;
  height: 100% !important;

  mat-dialog-container {
    padding: 0;
  }
}

.fileDrop {
  border: dashed 1px var(--color-primary);
  height: 100%;

  > div {
    flex-direction: column;
    color: var(--color-primary)!important;
    height: inherit!important;

    mat-icon {
      font-size: 60px;
      height: 60px;
      width: 60px;
    }
  }
}

.mat-button-toggle {

}

.mat-button-toggle-checked {
  background-color: var(--color-primary);
  color: var(--color-white)!important;
}

.sizeButtonToggle {
  padding: 7px 5px;

  .mat-button-toggle-label-content>* {
    line-height: 20px;
  }
}

.optionsWrapper {

  mat-button-toggle-group {
    width: 100%;

    mat-button-toggle {
      flex: 1;
    }
  }
}

.customizeContainer {

  mat-form-field {

    .mat-form-field-wrapper {
      padding-bottom: 5px;
    }
  }
}

.snackbar-theme {
  background: var(--color-primary);
  font-weight: bold;
}

mat-radio-button {

  > .mat-radio-label {
    width: 100%;

    > .mat-radio-label-content {
      width: inherit;
    }
  }
}

.mapboxgl-ctrl-bottom-left {
  display: none!important;
}
.mapboxgl-ctrl-top-right {
  transform: scale(3);
  top: 60px!important;
  right: 30px!important;
}

.addToCartBtn {

  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    mat-spinner {
      margin-left: 5px;

      circle {
        stroke: var(--color-white);
      }
    }
  }
}

app-ig-grid {
  align-self: flex-start;
}