<div class="componentContainer">
  <div class="header">
    <div>Your Payment Cards</div>
    <div>Expires On</div>
  </div>
  <mat-radio-group class="cardsContainer" [(ngModel)]="selectedCard">
    <mat-radio-button *ngFor="let card of stripeService.sources" [value]="card">
      <div class="rowWrapper">
        <div class="cardWrapper">
          <img [src]="stripeService.cardImages[card.brand]" />
          <div class="brand">{{card.brand}}</div>
          <div>ending in {{card.last4}}</div>
          <div *ngIf="stripeService.stripeCustomer.default_source === card.id" class="default fontBold">DEFAULT</div>
        </div>
        <div class="expiration">{{card.exp_month}}/{{card.exp_year}}</div>
      </div>
    </mat-radio-button>
  </mat-radio-group>
  <div class="btnRow">
    <button 
      mat-button 
      color="primary" 
      *ngIf="canDelete" 
      (click)="stripeService.deleteCard(selectedCard)"
    >Delete Card</button>
    <button 
      mat-button 
      color="primary" 
      *ngIf="canSelect"
      (click)="selectCard()"
    >Select Card</button>
    <button 
      mat-button 
      color="primary" 
      *ngIf="canMakeDefault"
      (click)="stripeService.changeDefaultCard(selectedCard)"
    >Make Default</button>
  </div>
</div>